#wjs-editor-md-input {
  padding: 3rem;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0);
  caret-color: var(--lm-input-text-color);
}

#wjs-editor-md-code {
  overflow: scroll;

  code {
    overflow: hidden;
  }
}

.dark-mode {
  #wjs-editor-md-input {
    caret-color: var(--dm-input-text-color);
  }
}
